<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Telemedecin"
        android:theme="@style/Theme.Telemedecin"
        android:supportsRtl="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DashboardActivity" />
        <activity android:name=".InscriptionActivity" />
        <activity android:name=".MedecinsActivity" />
        <activity android:name=".RendezVousActivity" />
        <activity android:name=".AddDoctorActivity" />
        <activity android:name=".AddRdvActivity" />


    </application>

</manifest>
